<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title><%=title%></title>
  <!-- Required meta tags -->
  <meta name="description" content="This is a free Bootstrap landing page theme created for BootstrapZero. Feature video background and one page design." />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="generator" content="Codeply">

  <!-- Bootstrapzero CSS -->
  <link rel="stylesheet" href="./css/bootstrap.min.css" />
  <link rel="stylesheet" href="./css/animate.min.css" />
  <link rel="stylesheet" href="./css/ionicons.min.css" />
  <link rel="stylesheet" href="./css/styles.css" />
</head>

<body>
  <nav id="topNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="/main"><i class="ion-ios-analytics-outline"></i> <%=title%></a>
        </div>
        <div class="navbar-collapse collapse" id="bs-navbar">
            <ul class="nav navbar-nav">
              <li>
                <a class="page-scroll" href="/main">Home</a>
              </li>
              <li>
                <a class="page-scroll" href="/view">View</a>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" data-toggle="modal" title="A free Bootstrap video landing theme" href="/">Log out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br><br><br>
     
<!-- KYC Details to Blockchain -->
        <form action="/add/new" method="POST">
          <div class="container" style="margin-left: 140px;">
            <div class="form-group col-md-7">
            </div>
          </div>
    <div class="container">
      <h3 style="color: purple;">Add KYC Details to BlockChain</h3>
    <div class="py-5">
      <div class="row">
      <div class="col-md-8 mx-auto">
    <span class="anchor" id="formLogin"></span>

    <!-- form card login -->
    <div class="card rounded-0">
    <br>
    <div class="card-body">
  
    <div class="form-row">
      <div class="form-group col-md-8">
        <label style="font-family: Arial, Helvetica, sans-serif;">Name of Customer</label>
        <div>
          <input type="text" class="form-control" name="firstname" required />
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-5">
        <label style="font-family: Arial, Helvetica, sans-serif;">PAN No.</label>
        <div>
          <input type="text" class="form-control" name="uid" required />
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-5">
        <label style="font-family: Arial, Helvetica, sans-serif;">Date of Birth</label>
        <div>
          <input type="date" class="form-control" name="dob" required />
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-3">
        <label style="font-family: Arial, Helvetica, sans-serif;">Gender</label>
        <div>
          <select class="form-control" name="gender" required >
            <option></option>
            <option>Male</option>
            <option>Female</option>
            <option>Other</option>
          </select>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-5">
        <label style="font-family: Arial, Helvetica, sans-serif;">Nationality</label>
        <div>
          <input type="text" class="form-control" name="nation" required />
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-5">
        <label style="font-family: Arial, Helvetica, sans-serif;">Gross Annual Income</label>
        <div>
          <select class="form-control" name="income" required >
            <option></option>
            <option>Below 1 Lac</option>
            <option>1-5 Lac</option>
            <option>5-10 Lac</option>
            <option>10-25 Lac</option>
            <option>Above 25 Lac</option>
          </select>
        </div>
      </div>
    </div>
    
    </br></br>
    <div class="form-row">
      <div class="form-group col-md-8">
        <h3>Contact Details</h3>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label style="font-family: Arial, Helvetica, sans-serif;">Email</label>
        <div>
          <input type="email" class="form-control" name="email" required />
        </div>
      </div>
    </div>
    </br></br>
    <div class="form-row">
      <div class="form-group col-md-5">
        <label style="font-family: Arial, Helvetica, sans-serif;">Telephone</label>
        <div>
          <input type="tel" class="form-control" name="tel" required />
        </div>
      </div>
    </div>
    </br></br>
    <div class="form-row">
      <div class="form-group col-md-8">
        <label style="font-family: Arial, Helvetica, sans-serif;">Address</label>
        <div>
          <input type="text" class="form-control" name="addr" required />
        </div>
      </div>
    </div>
  
    <div class="form-row">
      <div class="form-group col-md-6">
        </br>
        <button type = "submit" class="btn btn-primary btn-xl page-scroll">Add Details</button>
      </div>
    </div> 
  </div>
</div>
</div>
</div>
</div>
</div>
</form>
  <br />
  <br />

  <!-- Upload doc in IPFS -->
  <div class="container">
    <h3 style="color: purple;">Upload Document in IPFS</h3>
  <div class="py-5">
    <div class="row">
    <div class="col-md-8 mx-auto">
    <span class="anchor" id="formLogin"></span>

    <!-- form card login -->
    <div class="card rounded-0">
    <br>
    <div class="card-body">
  
  <form action="/add/upload" method="POST" enctype="multipart/form-data">
    <div class="form-row">
      <div class="form-group col-md-6">
        <input type="text" class="form-control" name="uid1" placeholder="PAN No." />
      </div>
    </div>
    <br>
    <div class="form-row">
      <div class="form-group col-md-8">
    <input type="file" name="document" />
    <br>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-8">
        <button type = "submit" class="btn btn-primary btn-xl page-scroll">Upload Document</button>
      </div>
    </div>
  </form>
</div>
</div>
</div>
</div>
</div>
</div>

<!-- Bootstrapzero JS -->
  <script src="./js/jquery.min.js"></script>
  <script src="./js/bootstrap.min.js"></script>
  <script src="./js/jquery.easing.min.js"></script>
  <script src="./js/wow.js"></script>
  <script src="./js/scripts.js"></script>
</body>

</html>