
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%=title%></title>
    <meta name="description" content="This is a free Bootstrap landing page theme created for BootstrapZero. Feature video background and one page design." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="Codeply">
    <link rel="stylesheet" href="./css/bootstrap.min.css" />
    <link rel="stylesheet" href="./css/animate.min.css" />
    <link rel="stylesheet" href="./css/ionicons.min.css" />
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body>
    <div class="main">

    <nav id="topNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="/admin"><i class="ion-ios-analytics-outline"></i> <%=title%></a>
            </div>
            <div class="navbar-collapse collapse" id="bs-navbar">
                <ul class="nav navbar-nav">
                    <li>
                        <a class="page-scroll" href="/admin">Home</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" data-toggle="modal" title="A free Bootstrap video landing theme" href="/">Log out</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
        <div class="header-content">
            <div class="header-content">
                <div class="inner">
                    <h1 class="cursive" style="color: purple;">Welcome Admin</h1>
                    <br><br>
                    <form action="/admin/adminview" method="GET">
                        <div class="container" style="margin-left: 440px;">
                            <div class="form-group col-md-4">  
                            <input type="text" class="form-control" name="uid" placeholder="Enter PAN No." required />
                            <br><button type = "submit" class="btn btn-primary btn-xl page-scroll">View Details</button>
                            </div>
                        </div>
                    </form>
                    <br>
                    <div class="container" style="margin-left: 300px;">
                        <div class="form-group col-md-7"> 
                    <h4>Click below to access transactions log using the KYC Manager Application</h4>
                    <br>
                    <form action="/admin/getEvents" method="GET">  
                        <button type="submit" class="btn btn-primary btn-xl page-scroll" id="event">Transaction Log</button>
                    </form>
                        </div>
                    </div>
                    <hr><hr>
                    <hr><hr><hr>
                </div>
            </div> 
          </div>

    </div>
     
    
    
  
    
      
      

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="./js/jquery.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/jquery.easing.min.js"></script>
    <script src="./js/wow.js"></script>
    <script src="./js/scripts.js"></script>
  </body>
</html>

