<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%=title%></title>
    <meta name="description" content="This is a free Bootstrap landing page theme created for BootstrapZero. Feature video background and one page design." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="Codeply">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/animate.min.css" />
    <link rel="stylesheet" href="/css/ionicons.min.css" />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <nav id="topNav" class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand page-scroll" href="/admin"><i class="ion-ios-analytics-outline"></i> <%=title%></a>
          </div>
          <div class="navbar-collapse collapse" id="bs-navbar">
              <ul class="nav navbar-nav">
                <li>
                  <a class="page-scroll" href="/admin">Home</a>
                </li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                  <li>
                      <a class="page-scroll" data-toggle="modal" title="A free Bootstrap video landing theme" href="/">Log out</a>
                  </li>
              </ul>
          </div>
      </div>
  </nav>
  <br><br><br>

  <div>
    <h2 style="color: purple; margin-left: 100px;">KYC Details of Applicant with PAN No. <%=uid%></h2>
    <br>
    <div class="container col-md-7" style="background-color: white;margin-left: 100px;" >
    <br>
    <table class="table table-striped" style="color: black;" border="1">
        <tbody>
        <tr>
            <th>Name</th>
            <td><%= result[0] %></td>
        </tr>
        <tr>
            <th>Gender</th>
            <td><%= result[1] %></td>
        </tr>
        <tr>
            <th>Date of Birth</th>
            <td>
                <%= result[2] %>
            </td>
        </tr>
        <tr>
            <th>Nationality</th>
            <td>
                <%= result[3] %>
            </td>
        </tr>
        <tr>
            <th>Gross Annual Income</th>
            <td>
                <%= result[4] %>
            </td>
        </tr>
        <tr>
            <th>Email</th>
            <td>
                <%= result[5] %>
            </td>
        </tr>
        <tr>
            <th>Telephone</th>
            <td>
                <%= result[6] %>
            </td>
        </tr>
        <tr>
            <th>Address</th>
            <td>
                <%= result[7] %>
            </td>
        </tr>
        <tr>
            <th>Verification status</th>
            <td>
                <%= result[8] %>
            </td>
        </tr>
    </tbody>
    </table>
    </div>
</div>
<div class="container" style="margin-left: 80px;">
    <div class="form-group col-md-7"> 
        <form action="/admin/adminview/verify" method="POST">  
            <br><input type="hidden" name="uid" value="<%=uid%>" required />
            <br><button type = "submit" class="btn btn-primary btn-xl page-scroll">Verify</button>
        </form>
    </div>
</div>



    <script src="./js/jquery.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/jquery.easing.min.js"></script>
    <script src="./js/wow.js"></script>
    <script src="./js/scripts.js"></script>
  </body>
</html>

