<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%=title%></title>
    <meta name="description" content="This is a free Bootstrap landing page theme created for BootstrapZero. Feature video background and one page design." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="Codeply">
    <link rel="stylesheet" href="./css/bootstrap.min.css" />
    <link rel="stylesheet" href="./css/animate.min.css" />
    <link rel="stylesheet" href="./css/ionicons.min.css" />
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body>
    <nav id="topNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="/" style="color: purple;"><i class="ion-ios-analytics-outline"></i> <%=title%></a>
            </div>
            <div class="navbar-collapse collapse" id="bs-navbar">
                <ul class="nav navbar-nav">
                    <li>
                        <a class="page-scroll" href="/contact" style="color: purple;">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br><br>
    <div class="container">  
                <h1 class="cursive" style="color: purple;">Contact Us</h1>
                <hr>
                <div class="container" style="background-color: white;">
                    <div class="row">
                        <div class="col-md-10" style="color: black;" style="margin-right: 300px;">
                          <br>
                          <h4>Please provide your valuable comments.</h4>
                          <br>        
                <form>
                    <div class="form-row">
                      <div class="form-group col-md-7">
                        <label for="nme">Name</label>
                        <div>
                          <input type="text" class="form-control" id="nme">
                        </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-7">
                        <label for="eml">Email</label>
                        <input type="email" class="form-control" id="eml">
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-7">
                        <label for="pasd">Subject</label>
                        <input type="password" class="form-control" id="pasd">
                      </div>
                    </div>
                    <div class="form-row">
                    <div class="form-group col-md-7">
                      <label for="msg">Message</label>
                      <input type="message" class="form-control" id="msg" style="width: 100%; height: 150px; box-sizing: border-box; resize: none;">
                    </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                      <button type = "submit" class="btn btn-primary btn-xl page-scroll" style="color: darkred;">Send</button>
                    </div>
                  </div>
                  </form>
                  <br>
                </div>
                </div>
                </div>
            </div>
        

    <script src="./js/jquery.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/jquery.easing.min.js"></script>
    <script src="./js/wow.js"></script>
    <script src="./js/scripts.js"></script>
  </body>
</html>
  
