<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>KYC Manager</title>
    <meta name="description" content="This is a free Bootstrap landing page theme created for BootstrapZero. Feature video background and one page design." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="Codeply">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/animate.min.css" />
    <link rel="stylesheet" href="/css/ionicons.min.css" />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <nav id="topNav" class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand page-scroll" href="/admin"><i class="ion-ios-analytics-outline"></i> KYC Manager</a>
          </div>
          <div class="navbar-collapse collapse" id="bs-navbar">
              <ul class="nav navbar-nav">
                <li>
                  <a class="page-scroll" href="/admin">Home</a>
                </li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                  <li>
                      <a class="page-scroll" data-toggle="modal" title="A free Bootstrap video landing theme" href="/">Log out</a>
                  </li>
              </ul>
          </div>
      </div>
  </nav>
  <br><br><br>

  <div>
    <h2 style="color: purple; margin-left: 100px;">Event Details of Blockchain</h2>
    <br>
    <div class="container col-md-10" style="background-color: white;margin-left: 100px;" >
    <br>
    <table class="table table-striped" id="events" style="color: black;" border="1">
        <tbody>
        <tr>
            <th>Sl.No</th>
            <th>Transaction Hash</th>
            <th>Block Number</th>
            <th>PAN Number</th>
            <th>Event Details</th>
           
        </tr>
        <%
    eventArray.forEach(function(el, index) {
  %>
        <tr>
            <td><%=el.id %></td>
            <td><%=el.transactionhash %></td>
            <td><%=el.blocknumber %></td>
            <td><%=el.uid %></td>
            <td><%=el.eventdet %></td>

        </tr>
        <%
   
  });
  %>
        </tbody>

    </table>
</div>


    <script src="./js/jquery.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/jquery.easing.min.js"></script>
    <script src="./js/wow.js"></script>
    <script src="./js/scripts.js"></script>
</body>

</html>