<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%=title%></title>
    <!-- Required meta tags -->
    <meta name="description" content="This is a free Bootstrap landing page theme created for BootstrapZero. Feature video background and one page design." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="Codeply">
    <!-- Bootstrapzero CSS -->
    <link rel="stylesheet" href="./css/bootstrap.min.css" />
    <link rel="stylesheet" href="./css/animate.min.css" />
    <link rel="stylesheet" href="./css/ionicons.min.css" />
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body>
    <div class="index">

    <nav id="topNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="/"><i class="ion-ios-analytics-outline"></i> <%=title%></a>
            </div>
            <div class="navbar-collapse collapse" id="bs-navbar">
                <ul class="nav navbar-nav">
                    <li>
                        <a class="page-scroll" href="/signup">Register</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/contact">Contact</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" data-toggle="modal" title="A free Bootstrap video landing theme" href="#aboutModal">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
      <div class="header-content">
        <div class="inner">
          <h1 class="cursive" style="color: purple;">Simple, Secure place to Store your details</h1>
          <h4>A one-stop web application to smoothen Know Your Customer (KYC) process using BlockChain Technology</h4>
          <hr>
          <div class="py-5" style="margin-left: 450px;">
            <div class="row">
              <div class="col-md-6 mx-auto">
                <span class="anchor" id="formLogin"></span>
                
                <!-- form card login -->
                <div class="card rounded-0">
                  <div class="card-body">
                    <form class="form" method="POST" action="/login">
                      <div class="form-group">
                        <label style="font-family: Arial, Helvetica, sans-serif;">Username</label>
                        <input type="text" name="email" placeholder = "CIN" class="form-control">
                      </div>
                      <div class="form-group">
                        <label style="font-family: Arial, Helvetica, sans-serif;">Password</label>
                        <input type="password" name="password" placeholder="Password" class="form-control">
                      </div>
                      <button type="submit" class="btn btn-primary btn-xl page-scroll">Log in</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="card text-center">
          <div class="card-body">
            <h3 class="card-title" style="color: purple;">What is KYC?</h3>
            <p class="card-text">Each company has to verify your identity somehow, and it’s particularly important for financial institutions. This gave rise to ‘know your customer,’ or KYC protocols to help companies ensure they know who they are doing business with. Typically this involves a long, drawn-out practice where certain documents are shown, and some sort of background check or verification takes place. KYC validates your identity, address and signature among other things and is a prerequisite for investment in mutual funds and even opening of a bank account. Without valid documents for KYC the financial institution in question, (bank or Asset Management Company) may refuse you the opportunity to open a bank account or grant permission for investment in any mutual fund schemes.</p>
            <h3 class="card-title" style="color: purple;">Why KYC?</h3>
            <p class="card-text">The Reserve Bank of India, the apex bank of the nation has made KYC compulsory for all banks and financial institutions in 2004. KYC is of primary importance as not only an identity proof but also a safeguard against money launderers or other criminal activities.</p>
          </div>
        </div>
      </div>
      
    <div id="aboutModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
        	<div class="modal-body">
        		<h2 class="text-center">KYC Manager</h2>
        		<p class="text-justify">
              The Blockchain-based Application has many inherent advantages which includes keeping a secure copy of all your KYC-compliant documents stored on a blockchain. As it utilizes a public blockchain, it would be decentralized and both transparent and secure. A bank or other financial institution who is looking to verify customer identity would simply need to be given permission to access the personal information, making blockchain KYC incredibly efficient. It would also be standardized, so every financial institution globally would be able to share and view the same data.
              Blockchain in KYC is one of the most promising applications of the decentralized technology, serving a real need by decreasing KYC administrative costs and lost time while at the same time increasing security and transparency. KYC using blockchain represents a true paradigm shift, away from individual institutions doing repetitive and redundant work.
        		</p>
        		<br/>
        		<button class="btn btn-primary btn-lg center-block" data-dismiss="modal" aria-hidden="true"> OK </button>
        	</div>
        </div>
        </div>
    </div>
  </div>
     
  <!-- Bootstrapzero JS -->
  <!-- jQuery first, then Bootstrap JS, WOW.js-->   
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="./js/jquery.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/jquery.easing.min.js"></script>
    <script src="./js/wow.js"></script>
    <script src="./js/scripts.js"></script>
  </body>
</html>