
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%=title%></title>
    <!-- Required meta tags -->
    <meta name="description" content="This is a free Bootstrap landing page theme created for BootstrapZero. Feature video background and one page design." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="Codeply">
    <!-- Bootstrapzero CSS -->
    <link rel="stylesheet" href="./css/bootstrap.min.css" />
    <link rel="stylesheet" href="./css/animate.min.css" />
    <link rel="stylesheet" href="./css/ionicons.min.css" />
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body>
    <div class="main">

    <nav id="topNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="/main"><i class="ion-ios-analytics-outline"></i> <%=title%></a>
            </div>
            <div class="navbar-collapse collapse" id="bs-navbar">
                <ul class="nav navbar-nav">
                    <li>
                        <a class="page-scroll" href="/main">Home</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" data-toggle="modal" title="A free Bootstrap video landing theme" href="/">Log out</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
        <div class="header-content">
            <div class="header-content">
                <div class="inner">
                    <h1 class="cursive" style="color: purple;">Welcome to KYC Manager</h1>
                    <br><br>
                    <hr>
                    <div class="container" style="margin-left: 150px;">
                      <a type="submit" class="btn btn-primary btn-xl page-scroll" href='/add' style="margin-right: 200px;">Add New KYC</a>
                      <br><br>
                      <a type="submit" class="btn btn-primary btn-xl page-scroll" href='/view' style="margin-right: 200px;">View/Manage KYC</a>
                    </div>
                    <hr>
                    <h4>Note: Please ensure the values entered are valid and check if details are already stored as duplicate entries are not accepted.</h4>
                </div>
            </div> 
        </div>
    </div> 
      
    <!-- Bootstrapzero JS -->
    <!-- jQuery first, then Bootstrap JS, WOW.js-->  
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="./js/jquery.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/jquery.easing.min.js"></script>
    <script src="./js/wow.js"></script>
    <script src="./js/scripts.js"></script>
  </body>
</html>

