<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%=title%></title>
    <meta name="description" content="This is a free Bootstrap landing page theme created for BootstrapZero. Feature video background and one page design." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="Codeply">
    <link rel="stylesheet" href="./css/bootstrap.min.css" />
    <link rel="stylesheet" href="./css/animate.min.css" />
    <link rel="stylesheet" href="./css/ionicons.min.css" />
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body>
    <nav id="topNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="/"><i class="ion-ios-analytics-outline"></i> <%=title%></a>
            </div>
            <div class="navbar-collapse collapse" id="bs-navbar">
                <ul class="nav navbar-nav">
                    <li>
                        <a class="page-scroll" href="/signup">Register</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/contact">Contact</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" data-toggle="modal" title="A free Bootstrap video landing theme" href="#aboutModal">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <header id="first">
        <div class="header-content">
            <div class="inner">
                <br><br><h1 class="cursive" style="color: purple;">Register</h1>
                <h4>Signup to access the Web-App</h4>
                <br><br>
                  <div class="py-5" style="margin-left: 100px;">
                    <div class="row">
                    <div class="col-md-10 mx-auto">
                    <span class="anchor" id="formLogin"></span>
                
                    <!-- form card login -->
                    <div class="card rounded-0">
                    <div class="card-body">
                      <form method="POST" action="/signup/reg" onsubmit="return validate()">
                        <div class="form-row">
                      <div class="form-group col-md-8">
                        <label for="nam" style="font-family: Arial, Helvetica, sans-serif;">Name of Bank/Financial Institution</label>
                        <div>
                          <input type="text" class="form-control" name="name" id="nam">
                        </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-7">
                        <br><label for="emal" style="font-family: Arial, Helvetica, sans-serif;">Username</label>
                        <br>
                        <input type="text" class="form-control" name="email" placeholder = "CIN of the Bank/Financial Institution" id="emal">
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-7">
                        <br><label for="pwd" style="font-family: Arial, Helvetica, sans-serif;">Password</label>
                        <br>
                        <input type="text" class="form-control" name="password" placeholder = "Password" id="pwd">
                        <br>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="cit" style="font-family: Arial, Helvetica, sans-serif;">Location of Corporate Office</label>
                        <input type="text" class="form-control" name="city" id="cit">
                      </div>
                      <div class="form-group col-md-5">
                        <label for="stat" style="font-family: Arial, Helvetica, sans-serif;">Telephone</label>
                        <input type="text" class="form-control" name="state" id="stat">
                        <br>
                      </div>
                    </div>
                    
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <button type = "submit" class="btn btn-primary btn-xl page-scroll">Register</button>
                      </div>
                    </div>
                  </form>               
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </header>  

    <script src="./js/jquery.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/jquery.easing.min.js"></script>
    <script src="./js/wow.js"></script>
    <script src="./js/scripts.js"></script>
  </body>
</html>
  

