<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%=title%></title>
    <meta name="description" content="This is a free Bootstrap landing page theme created for BootstrapZero. Feature video background and one page design." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="Codeply">
    <link rel="stylesheet" href="./css/bootstrap.min.css" />
    <link rel="stylesheet" href="./css/animate.min.css" />
    <link rel="stylesheet" href="./css/ionicons.min.css" />
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body>
    <nav id="topNav" class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand page-scroll" href="/main"><i class="ion-ios-analytics-outline"></i> <%=title%></a>
          </div>
          <div class="navbar-collapse collapse" id="bs-navbar">
              <ul class="nav navbar-nav">
                <li>
                  <a class="page-scroll" href="/main">Home</a>
                </li>
                <li>
                  <a class="page-scroll" href="/add">Add</a>
                </li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                  <li>
                      <a class="page-scroll" data-toggle="modal" title="A free Bootstrap video landing theme" href="/">Log out</a>
                  </li>
              </ul>
          </div>
      </div>
  </nav>
  <br><br><br>

  <form method="GET" action="/view/detail">
    <div class="container" style="margin-left: 140px;">
      <div class="form-group col-md-7">
        <!-- <h3 style="color: purple;">Ether Account for transaction</h3>
        <input type="text" name="account" id="one" placeholder = "Ether Account" class="form-control"> -->
      </div>
    </div>
  <div class="container" style="margin-left: 260px;">
    <h3 style="color: purple;">View/Manage KYC Details from BlockChain</h3>
    <div class="py-5">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <span class="anchor" id="formLogin"></span>
                
          <!-- form card login -->
            <div class="card rounded-0">
            <br>    
              <div class="card-body col-md-6">
                
                  <input type="text" class="form-control" name="uid" placeholder="Enter PAN No." required />
                  <br><button type = "submit" class="btn btn-primary btn-xl page-scroll">View/Manage</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
      <br><br>
      <h3 style="color: purple;">View Document from IPFS</h3>
      <div class="py-5">
        <div class="row">
          <div class="col-md-8 mx-auto">
            <span class="anchor" id="formLogin"></span>
                            
              <!-- form card login -->
              <div class="card rounded-0">
              <br>    
                <div class="card-body col-md-6">
                <form method="GET" action="/view/viewDoc">
                  <!-- <input type="hidden" type="text" name="account" id="two"> -->
                  <input type="text" class="form-control" name="uid1" placeholder="Enter PAN No." required />
                  <br><button type = "submit" class="btn btn-primary btn-xl page-scroll">View Document</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      

    <!-- <script>   
        window.onload = function() {
          var src = document.getElementById("one"),
          dst = document.getElementById("two");
          src.addEventListener('input', function() {
          dst.value = src.value;
          });
        };
    </script> -->


    <script src="./js/jquery.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/jquery.easing.min.js"></script>
    <script src="./js/wow.js"></script>
    <script src="./js/scripts.js"></script>
  </body>
</html>
